.messagebox{
    border-color: black;
    border-style: groove;
    border-width: 1px;
    margin-top: 10px;
    min-height: 100px;
}
.messagescontainer{
    width: 80%;
}
.messagescontainer h1{
    font-size: 10px;
    display: flex;
    margin-left: 10px;
    color: blue;
    text-decoration: underline;
}
.messagescontainer p{
    font-size: 10px;
    display: flex;
    margin-left: 10px;
}